#titreBlog{
    font-size: 93px;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    font-family: georgia;
}

a{
    text-decoration: none;
    color : #003366;
}

#descBlog{
    font-size: 25px;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    font-family: georgia;
}

body{
    background-color: #f0ffff;
}

#contenu{
    background-color: #87cefa;
    width: 60%;
    height: 100%;
    margin-left: 20%;
    padding: 8px;
}

article{
    background-color: #e0ffff;
    margin: 20px;
    padding: 20px;
}
.alert{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index:1060;

}
table{
    width: 98%;
}

table,th,td{
    padding: 8px;
    background-color: #d4f0bb;
    margin: 10px;
    border-style: solid;
    border-color: #f0ffff;
}

footer{
    background-color: #87cefa;
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
    padding: 8px;
}
#footer{
    display: flex;
    flex: auto;
    width: 100%;
    justify-content: space-between;
}
.butt{
    display: flex;
    margin: 5px;
    width: 1000px;
}
.com{
    margin-left: 20px;
}
